<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1syY-XujYYyMp6ukbhl2TqsWPENfwtWk</string>
	<key>GCM_SENDER_ID</key>
	<string>592670576430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQryoklamasistemi</string>
	<key>PROJECT_ID</key>
	<string>flutter-qryoklamasistemi</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-qryoklamasistemi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592670576430:ios:f3ec8f9c01e016ee23b4bf</string>
</dict>
</plist>